<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User - WikiMap</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Averia+Sans+Libre:300,300i,700,700i">

    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/info-window.css">
    <link rel="stylesheet" href="/styles/user.css">

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <script type="text/javascript" src="/scripts/user/main.js"></script>
  </head>

  <body>
    <% include partials/nav %>
    <div class="owned">
      <h1 class="owned__title">Owned</h1>
      <% owned.forEach(map => { %>
        <div class="map">
          <label class="map__name"> <%= map.name %> </label>
          <span class="map__owner"> <%= map.owner %> </span>
          <p1 class="map__description"> <%= map.description %> </p1>
        </div>
      <% }); %>
    </div>

    <div class="favorited">
      <h1 class="favorited__title">Favorited</h1>
      <% favorited.forEach(map => { %>
        <div class="map">
          <label class="map__name"> <%= map.name %> </label>
          <span class="map__owner"> <%= map.owner %> </span>
          <p1 class="map__description"> <%= map.description %> </p1>
        </div>
      <% }); %>
    </div>

    <div class="edited">
      <h1 class="edited">Edited</h1>
      <% edited.forEach(map => { %>
        <div class="map">
          <label class="map__name"> <%= map.name %> </label>
          <span class="map__owner"> <%= map.owner %> </span>
          <p1 class="map__description"> <%= map.description %> </p1>
        </div>
      <% }); %>
    </div>

  </body>
</html>
